<a href="https://colab.research.google.com/github/MahendraVarma17/data-science-project-one/blob/main/rinex_project_2_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_excel(r"/content/drive/MyDrive/Advertising Dataset.xlsx")

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
data.isnull()

     Unnamed: 0     TV  Radio  Newspaper  Sales
0         False  False  False      False  False
1         False  False  False      False  False
2         False  False  False      False  False
3         False  False  False      False  False
4         False  False  False      False  False
..          ...    ...    ...        ...    ...
195       False  False  False      False  False
196       False  False  False      False  False
197       False  False  False      False  False
198       False  False  False      False  False
199       False  False  False      False  False

[200 rows x 5 columns]

In [ ]:
data.dropna()

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [ ]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [ ]:
clean_data = data.copy()

In [ ]:
clean_data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
clean_data['cols'] = clean_data['Sales']

In [ ]:
cols.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [ ]:
y = clean_data[['cols']].copy()

In [ ]:
y.head()

   cols
0  22.1
1  10.4
2   9.3
3  18.5
4  12.9

In [ ]:
y.columns

Index(['cols'], dtype='object')

In [ ]:
training_set =clean_data[['TV','Radio','Newspaper']]

In [ ]:
x = training_set.copy()

In [ ]:
x.columns

Index(['TV', 'Radio', 'Newspaper'], dtype='object')

In [ ]:
train, test = train_test_split(data, test_size=0.33)

In [ ]:
X_train = np.array(train.index).reshape(-1, 1)
y_train = train['Sales']

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
model.coef_

array([-0.0057608])

In [ ]:
 model.intercept_

14.398289037606348

In [ ]:
X_test = np.array(test.index).reshape(-1, 1)
y_test = test['Sales']

In [ ]:
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (134, 1)
X_test shape: (66, 1)
y_train shape: (134,)
y_test shape: (66,)

In [ ]:
data.shape

(200, 5)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
randints = np.random.randint(200, size=25)

In [ ]:
data_sample = data[data.index.isin(randints)]

In [ ]:
data_sample.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
1           2   44.5   39.3       45.1   10.4
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2

In [ ]:
data['Prediction'] = model.predict(np.array(data.index).reshape(-1, 1))

In [ ]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales  Prediction
0           1  230.1   37.8       69.2   22.1   14.398289
1           2   44.5   39.3       45.1   10.4   14.392528
2           3   17.2   45.9       69.3    9.3   14.386767
3           4  151.5   41.3       58.5   18.5   14.381007
4           5  180.8   10.8       58.4   12.9   14.375246

In [ ]:
from sklearn import metrics

In [ ]:
data['Sales'].describe()

count    200.000000
mean      14.022500
std        5.217457
min        1.600000
25%       10.375000
50%       12.900000
75%       17.400000
max       27.000000
Name: Sales, dtype: float64

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 4.0509095527468535
Mean Squared Error: 26.115923204621176
Root Mean Squared Error: 5.110374076779622

In [ ]:
print('R2: ', metrics.r2_score(y_test, y_pred))

R2:  -0.01671153153776439

In [ ]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_pred)

-0.0027797369509283687